[2019-06-01 21:49] krobison13 opened #6 "stitch.py ValueError triggered by contig sequence name"
stitch.py throws a ValueError if one of my contigs is named the following, but works fine if I rename it to something like CLUS3951

` bc.1+2.clus.3951.fa.poa:1.0-7835.0`

It is apparently trying to convert the 7835.0 at the end into an integer

`  File "stitch.py", line 93, in <module>
    process_marginpolish_h5py(FLAGS.sequence_hdf, FLAGS.output_dir, FLAGS.threads)
  File "stitch.py", line 58,

[2019-06-01 22:04] kishwarshafin commented on #6
I was able to re-generate the error internally; I will add a test for this case and update you on this.

Just to let you know, all the tests we do are offline and takes a lot of time to perform all the tests before we merge to master. So, it may take a little bit of time before you see the change.

Thank you for posting, it's really helpful.

[2019-06-04 07:11] kishwarshafin commented on #6
Hello, I have fixed this issue, please reopen this issue or let us know if you find this happening again. Thank you again for reporting.

[2019-06-04 07:11] #6 closed

[2019-06-14 21:29] phiweger opened #8 "How does marginpolish + helen compare to nanopolish?"
Hi,

I only found comparisons for racon and medaka, however, the best results I see are from nanopolish, so I wonder how m + h compares to it.

Thanks,
Adrian

[2019-06-17 21:32] kishwarshafin commented on #8
Hi Adrian,

As we don't embed any signal level information, we haven't compared against nanopolish. We are focusing on doing a deep analysis of MP + HELEN against Racon + Medaka first. Then depending on resource availability and necessity, we will compare with nanopolish.

[2019-06-28 13:53] MichelMoser opened #9 "marginPolish option"
Hi,

Just compiled marginPolish and Helen according to your installation tutorial and ran it on a test dataset.

I am missing the marginPolish images being created.
Get the fasta output but not the image (hdf?).

Also, when looking at marginPolish options, i dont get the same options as are posted on their github repo (missing the -f parameter).

Mine shows:
[code]

Theirs is:

[code]

I am missin

[2019-06-30 04:58] kishwarshafin commented on #9
Hi Michel,

Can you please give us the GitHub repository you are using for MarginPolish? Please make sure you are using this:[https://github.com/UCSC-nanopore-cgl/marginPolish](https://github.com/UCSC-nanopore-cgl/marginPolish)

About docker: No, we are not production-level yet.

[2019-07-01 00:08] tpesout commented on #9
Hi Michael, I believe this means that you either don't have hdf5 installed or it is not findable by cmake.  What OS are you running this on?  If ubuntu, installing libhdf5-dev should fix the problem.

[2019-07-01 07:25] MichelMoser commented on #9
@tpesout yes, correct, i missed libdhf5 while compiling. Sorry for my ignorance and thanks for spotting

[2019-07-01 07:25] #9 closed

[2019-07-01 17:23] kishwarshafin commented on #8
Hi Adrian,

I'll close this issue for now. Will open it again when we do compare with nanopolish. Please feel free to open this issue if you have any other question.

[2019-07-01 17:25] #8 closed

[2019-07-02 08:27] MichelMoser opened #10 "h5 error"
Hi,

I run into following error troubles with when running helen (CPU only installation) on a flye-assembly:

[code]

I suspect that h5-files are somehow corrupted (some are empty), but thats difficult to assess for me. I thought the size of total images would be larger than the 5.9 M i got from a 2.5 Gb genome.

[code]

MarginPolish was run with default settings:

[code]

Any ideas or hints about

[2019-07-02 09:52] kishwarshafin commented on #10
Hello Michel,

the message `(file signature not found)` indicates that the h5 files are corrupted. To figure out what exactly is going wrong,
1) can you please tell us the BAM file's size and coverage?
2) what's the size of the genome you get from MarginPolish?
3) what command did you run to generate the BAM file?
4) Is there any way you can provide the log file of MarginPolish run?

Also, I would

[2019-07-02 11:15] MichelMoser commented on #10
Hi,
Thanks for the quick reply.

1. can you please tell us the BAM file's size and coverage?
2. what's the size of the genome you get from MarginPolish?

Its about 20x genome coverage in the BAM.
[code]

3. what command did you run to generate the BAM file?

[code]

4. Is there any way you can provide the log file of MarginPolish run?

[mG.log](https://github.com/kishwarshafin/helen/files/3349721/

[2019-07-02 11:35] kishwarshafin commented on #10
@tpesout , looks like the error is on MarginPolish side of things? `double free or corruption (fasttop)` would suggest a malloc went wrong? The HDF5 library might be the issue.
Is there any way we can re-generate this error locally?

@MichelMoser , thank you so much for reporting and using this tool. All the steps look right. Can you also tell us which platform are you using? Is it ubuntu?

[2019-07-02 11:38] MichelMoser commented on #10
I also think hdf5 lib might be the issue. What version did you test it for?
I am using a CentOS 7 cluster.

[2019-07-02 11:43] kishwarshafin commented on #10
On our machine, this works:
[code]

Can you please let us know what version you are on?

[2019-07-02 11:57] kishwarshafin commented on #10
Actually, I think this would be more useful for you:

[code]

[2019-07-02 12:06] MichelMoser commented on #10
we are actually using Module package and not dpkg
loaded hdf5/1.8.11 for marginPolish installation

[2019-07-02 12:09] kishwarshafin commented on #10
Ok, can you try it with 1.10.0 or later? I don't think we have tested our pipeline with older hdf5 libraries. I am sure 1.10.3 works too.

[2019-07-02 12:12] MichelMoser commented on #10
i will try and report back

[2019-07-02 18:05] tpesout commented on #10
I noticed this hdf5 error in the mGMudminnow.log file:

..which makes me wonder if it is a disk space or memory usage issue.  We've found that MP needs around (but less than) 2GB per thread; how much memory does your machine have?

[2019-07-03 11:09] MichelMoser commented on #10
The machine has 3 TB of RAM. So this should not be an issue.

We updated to hdf5 1.10.5 but the error persists.

[code]

[2019-07-03 11:11] MichelMoser commented on #10
Here the full log:

[HELEN_MudM_13521451_1.log](https://github.com/kishwarshafin/helen/files/3354708/HELEN_MudM_13521451_1.log)

[2019-07-03 19:17] tpesout commented on #10
Thanks Michel!  I'm not sure what exactly the error is, but my guess is that this is related somehow to CentOS vs Ubuntu.  Regardless, I've made a Docker image that *should* be platform-independent.  There is some documentation on the README here:
https://github.com/UCSC-nanopore-cgl/MarginPolish/tree/docker#docker

..but in short, you should be able to:
[code]

Please try this and let us know if

[2019-07-04 07:52] MichelMoser commented on #10
Great, thank you so much for the effort. i will test it.

[2019-07-05 09:45] MichelMoser commented on #10
works like a charm!
Thanks again

[2019-07-06 02:11] kishwarshafin commented on #10
Great! Thank for closing the issue Michel. Let us know if you need any more help.

[2019-07-19 13:50] lstxmu opened #11 "run call.consensus..py fail"
i can't run 'python3 cal_consensus.py',  and i got the follow message "  Traceback (most recent call last):
  File "./call_consensus.py", line 3, in <module>
    from modules.python.TextColor import TextColor
ImportError: No module named 'modules.python'
"
any guy can help me ?

[2019-07-19 14:05] kishwarshafin commented on #11
Hello. This may be because of the relative path. Can you please make sure that you are running the script from inside the helen directory and when you run `ls` or `ll` in the directory you are running the command from, you can see the `modules` directory in the list?

[2019-07-19 17:54] lstxmu commented on #11
hi,kishwarshafin .
according your suggestion, i ran  the script inside the helen directory again,  unfortunately, the error message still happen.
you can see my record :
$ python3 /opt/biosoft/bioinfo/Helen/call_consensus.py -h
Traceback (most recent call last):
  File "/opt/biosoft/bioinfo/Helen/call_consensus.py", line 3, in <module>
    from modules.python.TextColor import TextColor
ImportError

[2019-07-19 18:01] kishwarshafin commented on #11
@lstxmu , can you please run `pwd` to see your present working directory?

also, can you please try simply running `python3 call_consensus.py -h` instead of giving the full path?  I am not sure if setting the absolute path for the python script is causing this.

[2019-07-19 18:13] lstxmu commented on #11
@kishwarshafin  , i simply run  " python3 call_consensus.py -h" , but still fail agagin.
but when i try  run "./cal_consensus.py -h" ,   i  work , with some error  message.
![Selection_074](https://user-images.githubusercontent.com/46129804/61556216-e7f4b800-aa93-11e9-8562-a3ead18fbb47.png)
you can see the record.   why the issue happen?

[2019-07-19 18:22] kishwarshafin commented on #11
I would try to re-generate this somewhere. Can you please tell me about your OS and python3 version?

I would need the outputs of `lsb_release -a` and `python3 --version`. Thanks.

[2019-07-19 18:28] lstxmu commented on #11
@kishwarshafin
$ lsb_release -a
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.9 (stretch)
Release:	9.9
Codename:	stretch
$ python3 --version
Python 3.5.3

thanks a lot!

[2019-07-19 19:08] kishwarshafin commented on #11
hello @lstxmu , I just created a google-cloud-instance with your config.

This is my instance's setup:
[code]

[code]

1) Then install python and all:
[code]

The python version was still the same:
[code]

Then I installed torch and torchvision for linux from https://pytorch.org/

Then install all the other tools
[code]

If I run these commands to see if HELEN works:
[code]

I get this output:
[co

[2019-07-19 19:23] kishwarshafin commented on #11
@lstxmu from your `ll` output I see all the files are executable. Did you do `chmod` on the files? If yes, can you do `cd modules` and then `ll` to see if the subdirectories are there?

[2019-07-20 14:24] lstxmu commented on #11
@kishwarshafin
i had follow your intruduction step by step,  delete the old helen direcotry , install  every dependency software you had decribed above.  But i still get the wrong message, the call_consensus.py not work.
![Selection_081](https://user-images.githubusercontent.com/46129804/61579836-f945cf00-ab3c-11e9-95b5-bea2b3691123.png)
![Selection_082](https://user-images.githubusercontent.com/4

[2019-07-20 14:45] kishwarshafin commented on #11
@lstxmu, I am sorry this is happening. Are you using any shell program like `fish`? Importing from subdirectories is a very standard python practice, not sure why it is failing. Do you have any other Ubuntu/Linux based system where you can try it quickly?

[2019-07-20 15:07] lstxmu commented on #11
@kishwarshafin   I  had try it using the zsh and bash,   and it happened in both shell program.  i cant find what the 'module.python' means in google.   I will try it  again in ubuntu or centos these days,  and i will tell you the result.
I sincerely thank you all.

[2019-07-20 15:09] kishwarshafin commented on #11
@lstxmu , the modules.python is the `modules` subdirectory you have inside helen directory and `python` is the subdirectory inside `modules`. I am trying to recreate this issue locally. If I can, I'll get back to you.

[2019-07-21 04:14] kishwarshafin commented on #11
Hi @lstxmu , I have uploaded two docker images to get around this problem today. If you are going to use GPUs then run this:
[code]

If you are using CPUs:
[code]

Please let me know if this works for you.

[2019-07-22 09:19] lstxmu commented on #11
@kishwarshafin  hi,kishwarshafin. it seem the docker version you had provided works.  But i'm not good at docker operation. I will take  some time to see what would happen next  , please wait my message.
thanks for your help.

![Selection_086](https://user-images.githubusercontent.com/46129804/61621176-f8c84800-aca4-11e9-9063-a41fd62223d0.png)

[2019-07-22 10:18] lstxmu commented on #11
@kishwarshafin   I'm sorry to tell that docker version still faiil.  The output message as follow:
![result](https://user-images.githubusercontent.com/46129804/61625365-1ef1e600-acad-11e9-9067-1a4b923f71ec.png)

[2019-07-22 15:01] kishwarshafin commented on #11
@lstxmu , this is expected output. The program can not find the model file. You have to mount your volume where all the inputs are to "/data" using the -v parameter and then point the inputs correctly from directories where they exist. Please read here:

https://docs.docker.com/v17.12/engine/reference/commandline/run/

[2019-07-23 15:39] lstxmu commented on #11
@kishwarshafin   hi.kishwarshafin . i had try your suggestion. but i dont think it can run susscesfully.  the progress of python was suspend and nothing change  after miniutes.
![Selection_095](https://user-images.githubusercontent.com/46129804/61725791-0532ca80-ada3-11e9-9455-dae04e1d6f4c.png)

may be i should gave up trying.
thanks for your help

[2019-07-23 15:47] kishwarshafin commented on #11
@lstxmu , how many CPU cores do you have? I don't see any reason for this to fail.

[2019-07-23 15:48] lstxmu commented on #11
@kishwarshafin   sudo docker run -v /media/datarun2/helendata:/media/datarun2/helendata  kishwars/helen:0.0.1.cpu  call_consensus.py \
-i  /media/datarun2/helendata/images -b 1024 -m /media/datarun2/helendata/models/r941_flip235_v001.pkl -o /media/datarun2/helendata/out -w 16 -t 144

[2019-07-23 15:49] kishwarshafin commented on #11
What is the output of `nproc --all` for you?

[2019-07-23 15:53] kishwarshafin commented on #11
can you please try this:
[code]

[2019-07-23 15:54] kishwarshafin commented on #11
also, could you please let me know the output of `sudo docker images`

[2019-07-23 15:55] lstxmu commented on #11
@kishwarshafin  i wil try with your new suggestion. just give me a few minutes.

[2019-07-23 16:07] lstxmu commented on #11
@kishwarshafin   Follow your new  suggestion command .    I can see one hdf file was created with 96b size.  But  5 mins past, nothing changed.  with top comand, the status of python3 was "D" .  I had a screenshot for you.
![Selection_097](https://user-images.githubusercontent.com/46129804/61728045-fb12cb00-ada6-11e9-8c07-01516ad4089c.png)

[2019-07-23 16:09] lstxmu commented on #11
sudo docker image ls
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
kishwars/helen      0.0.1.cpu           19b8257ea75a        2 days ago          1.2GB

[2019-07-23 16:10] kishwarshafin commented on #11
@lstxmu , the python3 with `D` is not the docker image. Do you see any output from the run? Do you see any output if you run this:
`sudo docker run -v /media/datarun2/helendata:/data kishwars/helen:0.0.1.cpu call_consensus.py -h`

[2019-07-23 16:12] lstxmu commented on #11
yes i can see the output.
![Selection_098](https://user-images.githubusercontent.com/46129804/61728396-b76c9100-ada7-11e9-948b-6c32ebc8bfd7.png)

[2019-07-23 16:13] kishwarshafin commented on #11
Do you see any output when you run this?
`sudo docker run -v /media/datarun2/helendata:/data kishwars/helen:0.0.1.cpu call_consensus.py -i images/ -b 64 -m models/r941_flip235_v001.pkl -o out/ -w 0 -t 1`

[2019-07-23 16:15] lstxmu commented on #11
nope,  just the comand stay there, and nothing show up after 10 mins . you can see my screenshot with time.
![Selection_099](https://user-images.githubusercontent.com/46129804/61728598-22b66300-ada8-11e9-9a91-4d70616a88d8.png)

[2019-07-23 16:19] lstxmu commented on #11
![Selection_100](https://user-images.githubusercontent.com/46129804/61728890-a8d2a980-ada8-11e9-98af-731637da99d3.png)
The screenshot at 00:19

[2019-07-23 16:23] kishwarshafin commented on #11
OK, two last things, if we can't find a resolution with these two then I would put the `help needed` in this issue.
1) Can you perform a `reboot` and then do a docker pull again? I know this is very unlikely to work but the world of compute craziness reboots sometimes work.
[code]

2) If you are able to `reboot`. Please run the command in one line without using `\` line-breakers like:
[code]
Your

[2019-07-23 16:27] lstxmu commented on #11
cd /media/datarun2/helendata/images/
ls -a
![Selection_102](https://user-images.githubusercontent.com/46129804/61729424-c2c0bc00-ada9-11e9-9ec9-58f862c6492e.png)

[2019-07-23 16:27] lstxmu commented on #11
![image](https://user-images.githubusercontent.com/46129804/61729465-dc620380-ada9-11e9-86bf-0b126df9d981.png)

[2019-07-23 16:29] lstxmu commented on #11
# root @ debian in /media/datarun2/helendata/images [0:25:47]
$ ls -a
./                     scmar.T100.h5  scmar.T114.h5  scmar.T128.h5  scmar.T141.h5  scmar.T26.h5  scmar.T41.h5  scmar.T56.h5  scmar.T71.h5  scmar.T86.h5
../                    scmar.T101.h5  scmar.T115.h5  scmar.T129.h5  scmar.T142.h5  scmar.T27.h5  scmar.T42.h5  scmar.T57.h5  scmar.T72.h5  scmar.T87.h5
po.txt                 scm

[2019-07-23 16:30] kishwarshafin commented on #11
@lstxmu , when it boots up please run:
`sudo service docker restart`

[2019-07-23 16:42] lstxmu commented on #11
eaebce5459f2: Pull complete
Digest: sha256:9e7c84d432832ebd18e0326e1ae14a79a0ff1c6b6b879c68c1bc7d957a62bbe6
Status: Downloaded newer image for kishwars/helen:0.0.1.cpu

# root @ debian in /media/datarun2/helendata/images [0:37:55]
$ sudo service docker restart

# root @ debian in /media/datarun2/helendata/out [0:38:37]
$ sudo docker run -v /media/datarun2/helendata:/data kishwars/helen:0.0.1.cpu c

[2019-07-23 16:50] kishwarshafin commented on #11
Ok, no problem, I'll stick the help wanted tag here. If you can, please try this in a ubuntu machine, that should give you no problem. I am not sure why this is happening.

[2019-07-23 16:55] lstxmu commented on #11
@kishwarshafin  OK, i will rent a vps machine with ubuntu os to fininsh this job.  And one more question: have you test Shasta to assembly the Pacbio sequecne data?  does it perform better than wtdbg2 or other long reads assembly program ?

[2019-07-23 16:57] kishwarshafin commented on #11
@lstxmu , we haven't tried any PacBio data so far. Our group specializes in `Nanopore` but we have plans to explore `PacBio` data too in the near future. So, I am not exactly sure which assembler is better for `PacBio`.

[2019-07-23 17:04] lstxmu commented on #11
@kishwarshafin  OK, maybe i will try to do some test with Pacbio data .  I'll keep in touch with you.  I had follow you on twitter. @kishwarshafin ‏

[2019-07-30 08:12] cgjosephlee opened #12 "output path and filename are not joined properly"
`stitch.py -o .` produced a hidden file `.HELEN_consensus.fa`.

It would be better to use `os.path.join()` here:
https://github.com/kishwarshafin/helen/blob/d372a9aa6bfdcf3a54a1a34a2c449b26cc2fdf40/stitch.py#L47

[2019-07-31 17:12] kishwarshafin commented on #12
Thanks, Joseph, for the suggestion, this is an excellent catch. Would be willing to contribute to this project by fixing this error? If yes, please fork the project, edit and create a pull request and I'll accept it. This will encourage others to find bugs and report accordingly.

If you think the issue is too trivial to go through all these, then let me know, and I'll fix it asap.

[2019-08-01 02:10] cgjosephlee commented on #12
Sure! It won't take too much time.

[2019-08-01 02:34] #12 closed

[2019-08-05 08:53] MichelMoser opened #14 "HAC models"
Dear HELEN developers,

When running MarginPolish with the allParams.np.human.guppy-ff-235.json model, i get a Calloc error.

[code]
The program runs if using  another model:

[code]

Is the 235 model file corrupted?

Also, i saw your latest models for polishing is named guppy 2.3.5.
Is this trained on the HAC configuration files?

We are currently using promethION data basecalled with HAC models

[2019-08-06 13:11] Jolvii85 opened #15 "Plant species"
Hi kishwar
Can I use this polisher on complex plant genome?
Does the model trained with human sequencing data work for the plant species?

Thank you.

Jolvii

[2019-08-06 13:31] kishwarshafin commented on #14
Hi Michel,

Regarding the MarginPolish error: @tpesout can help you with it.

HAC model: All models are trained on HAC base-called data. We are trying to assess if the fast prediction model, and it's applicability.

And the model: we are trying to assess and provide a model for the latest guppy version, but the summer hiatus and the expense of base-calling are holding us back. As we re-group after

[2019-08-06 13:34] kishwarshafin commented on #15
Hi Jolvii,

The model will treat the genome as a homozygous sequence. We have not benchmarked any plant genome, but if you have sequencing data and a high-quality assembly that we can use as a ground truth then we can do a quick test and let you know. (None of us are plant genome experts :( sorry)

Best,
Kishwar

[2019-08-09 03:10] kishwarshafin commented on #14
@MichelMoser ,

I was able to replicate the model error you were getting, can you delete the local copy of your guppy 235 file and do this:
wget https://raw.githubusercontent.com/UCSC-nanopore-cgl/MarginPolish/master/params/allParams.np.human.guppy-ff-235.json

This downloads the raw json file and makes sure you don't download html content.

[2019-08-09 07:35] MichelMoser commented on #14
Great, thanks for fixing this. Works fine now!
Will just run a few model comparisons on my guppy305-basecalled data to see what performs best.

I also have some datasets from different basecalling models (from older and newer firmware). Not sure yet how to apply HELEN to such cases. Do you have any suggestions?
I assume marginPolish and HELEN's main source of confidence in consensus is coverage, s

[2019-08-09 09:42] kishwarshafin commented on #14
@MichelMoser, we describe why we need different models for different versions of basecallers:
https://www.biorxiv.org/content/biorxiv/early/2019/07/26/715722.full.pdf

If you look at figure 18 on page 41 you'll see that the confusion matrix for two basecallers is different. I think the 3.0.5 is the closest to 2.3.3 so you would get the best results for 3.0.5 with 2.3.3. Do you have training data (

[2019-08-09 10:45] MichelMoser commented on #14
@kishwarshafin, yes, i totally understand why different models are needed to match the different guppy basecall-models. I wonder how i could get optimal polishing results with mP+H for genomes assembled from a combination of different nanopore reads (guppy233-called and guppy235-called). We work with non-model organisms (fishes) without reference genomes, so training is difficult to do.

[2019-08-09 10:53] kishwarshafin commented on #14
I see. Sorry, I misinterpreted your question. Ok, in such case you also need to consider that different basecallers report different base qualities and the model rely highly on the reported qualities from the basecaller. It is extremely important that you pick the right model for the right basecaller. I would suggest that you gather all your data and basecall with a single guppy basecaller i.e. 3.

[2019-08-18 18:03] kishwarshafin commented on #11
Hello, I am closing this issue for now as there hasn't been any activity in a while. Please feel free to reopen if you need help. However, I can confirm that we have at least two Debian users who successfully ran MP-HELEN in their system. Please let us know if you need any help.

[2019-08-18 18:03] #11 closed

[2019-08-30 18:38] reiverjohn opened #16 "MarginPolish"
Request for MarginPolish to either:

1.    Be able to run Docker without sudo.
2.    Run docker with sudo but inside sigularity.
3.    Fix the binary so it does not segfault

Any of those 3 options would be great. I'm not sure what you need in terms of system configuration, but I'll provide you with some basics on my primary test system, and you can let me know if you need more:

    O/S CentOS v.

[2019-09-05 18:15] kishwarshafin commented on #16
Hi John,

Sorry for the delay, I was traveling, but now I'm back in Santa Cruz and will work on this issue as soon as I am all set up. Thanks for your patience. Hopefully, this will be resolved by next week.

[2019-09-08 08:38] kishwarshafin commented on #16
Hi John,

Can you please try this [walkthrough](https://github.com/kishwarshafin/helen/blob/master/docs/non_sudo_walkthrough.md) with all non-sudo commands. It's a small E Coli sample and should take <10 mins to run end to end.

[2019-09-09 15:19] reiverjohn commented on #16
Hi Kishwar,

I’m out of town all this week but will run through this next week and get back to you.

Thanks
John

Sent from my iPhone

On Sep 8, 2019, at 10:38 AM, Kishwar Shafin <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi John,

Could you please try this walkthrough<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_kishwarshafin_helen_blob_master_docs_non-

[2019-09-21 12:24] lstxmu opened #17 "margin docker run fail"
hi,
i ran the margin polishg progrecess (docker version) ,  and got a fail result.
root@ecs-9875:/media/datarun/blnanodata/data# tail marginPolish.log
/usr/bin/time -f '\nDEBUG_MAX_MEM:%M\nDEBUG_RUNTIME:%E\n' /opt/MarginPolish/build/marginPolish reads_2_assembly.bam new.fasta allParams.np.human.guppy-ff-233.json -t 32 -o output/marginpolish_images -f

Running OpenMP with 32 threads.

Calloc failed

[2019-09-21 15:39] kishwarshafin commented on #17
Hello @lstxmu

So the model that you downloaded `allParams.np.human.guppy-ff-233.json` is corrupted. Can you please remove that file and download it this way:
[code]

This downloads the raw json file and makes sure you don't download html content.

Please run the same command with the newly downloaded model and it should work.

[2019-09-22 07:06] lstxmu commented on #17
Hello@kishwarshafin
    Thanks for yout suggession,  and it works.  But  after 2h later, i got other error message as follow :
root@ecs-25a7:/media/datarun/data# tail marginPolish.log
    major: Invalid arguments to routine
    minor: Inappropriate type
HDF5-DIAG: Error detected in HDF5 (1.8.11) thread 139675447654144:
  #000: ../../../src/H5D.c line 391 in H5Dclose(): not a dataset
    major: Inv

[2019-09-22 13:03] kishwarshafin commented on #17
Hi @lstxmu,

We have seen and solved this error before in [here](https://github.com/UCSC-nanopore-cgl/MarginPolish/issues/4#issuecomment-525449002). If you can run the command with `sudo`, it should work.

However, if you can please run the simple `non-sudo` [walkthrough](https://github.com/kishwarshafin/helen/blob/master/docs/non_sudo_walkthrough.md) then change your commands the same way then th

[2019-09-23 12:34] lstxmu commented on #17
hi,kishwarshafin
thanks for your advise, the issue was fixed.
But i found an new issue:  the assembly quality of shasta(after polished wiith marinpolish and helen)  was worse than wtdbg2. I valued the quality with BUSCO:
<shasta+marginpolish+helen>   C:69.4%[S:68.6%,D:0.8%],F:12.7%,M:17.9%,n:4915
<wtdbg2+minimap2+pilon>   C:94.8%[S:93.7%,D:1.1%],F:3.3%,M:1.9%,n:4915

Do you have the same issue?
Lo

[2019-09-23 14:44] kishwarshafin commented on #17
Hi Luo,

What sample/species is this? Which guppy version are you running?

Can you run BUSCO on the unpolished Shasta assembly to see how it performs? Also, wtdg2+minimap2, did you mean racon? Minimap2 can’t polish I believe.

[2019-09-23 14:55] lstxmu commented on #17
Hi, kishwarshafin
1 The species i assembly was a bird,
2  I don't know guppy version, i installed the software follow your github instruction
3  i did not run BUSCO on the unpolished assembly result , i will run it and tell you the result in a few hours
4  I used  pilon to polish wtdbg2 result
5  I used the chicken as the ref speices  in august (run_BUSCO.py -i Assembly.fasta  -c 144 -l /media/dat

[2019-09-23 15:06] kishwarshafin commented on #17
I wad wondering about the sequencing protocol. Like, which basecaller version you used to basecall the raw reads and are all the data from ONT. Also, the raw/unpolished assembly comparison between Shasta and wtdbg2 would also help to answer the questions.

[2019-09-24 07:41] lstxmu commented on #17
hi, kishwarshafin
1  I got the sequence result from novogene company in china, and they used guppy.
2   busco result :
shasta:C:35.6%[S:35.4%,D:0.2%],F:6.2%,M:58.2%,n:4915
shasta+marginpolish: C:61.2%[S:60.5%,D:0.7%],F:13.0%,M:25.8%,n:4915
shasta+marginpolish+helen:C:69.4%[S:68.6%,D:0.8%],F:12.7%,M:17.9%,n:4915

[2019-09-24 09:51] kishwarshafin commented on #17
Hello,

Do you have the raw wtdbg2 busco numbers? You can also polish the wtdbg2 with MP and HELEN to see some improvement.

 I think the issue would be average read length. Do you happen to know the read N50 or have a plot of the read length distribution?

[2019-09-24 13:36] lstxmu commented on #17
hi, kishwarshafin
1 .the raw wtdbg2 busco : C:94.8%[S:93.9%,D:0.9%],F:3.3%,M:1.9%,n:4915
2. good suggestion, i will try it
3  read length statistic value as follow:
General summary:
Active channels:                  2,678.0
Mean read length:                20,802.0
Mean read quality:                    7.9
Median read length:              20,648.0
Median read quality:                  8.6
Number o

[2019-09-25 02:28] kishwarshafin commented on #17
Hi Luo,

We had a brief discussion in our group about your findings. We want to debug this issue with your help so you can get a proper answer.

We think this might be a coverage issue. As Shasta has a strict cutoff, you may lose coverage if your reads are on the shorter side. You can get coverage information from one of these files in the assembly directory: AssemblySummary.html, ReadLengthHistog

[2019-09-25 04:10] lstxmu commented on #17
Hi, kishwarshafin
Thanks for you reply .
I would check the coverage information file (if they are still  in the server , otherwise  I will  rerun the assembly progress again), please give me some time.  If i can get these files, I would share with you, I will contact   you as soon as possible.
Best,
Luo

[2019-09-25 04:31] kishwarshafin commented on #17
Luo, thank you and take your time. Also, if you get time please run MP+HELEN on the wtdbg2 assembly to make sure it’s not a polishing issue we are seeing here. Thanks a ton for reporting on this.

[2019-09-25 05:54] lstxmu commented on #17
Hi, kishwarshafin
I checked the raw assembly directory and got the report files you asked for (except the log output).I had compressed them into the shastareport.zip
If you insist to get the log file.  i would take some time to rerun the assembly .
Best,
Luo
![Selection_221](https://user-images.githubusercontent.com/46129804/65572787-bf110780-df9b-11e9-95a6-5d523cfd638c.png)
[shastareport.zip](htt

[2019-09-25 19:52] kishwarshafin commented on #17
Hi Luo,

I'm copying over a comment in lieu to your run of Shasta. Please let us know if we can help anyway:

`There is no coverage issue as Shasta is seeing 76 Gb of coverage and this genome is a bit above 1 Gb, so we are around 70x coverage.  I suggest that they run Quast to obtain an estimate of sequence quality over the entire genome. And they should do a comparison of pre-polished quality, ot

[2019-09-25 19:54] kishwarshafin commented on #17
Hi Luo,

I'm copying over a comment regarding your run of Shasta. Please let us know if we can help anyway:

`There is no coverage issue as Shasta is seeing 76 Gb of coverage and this genome is a bit above 1 Gb, so we are around 70x coverage. I suggest that they run Quast to obtain an estimate of sequence quality over the entire genome. And they should do a comparison of pre-polished quality, othe

[2019-09-26 03:44] kishwarshafin commented on #17
I'd greatly appreciate if you can polish the wtdbg2 assembly with MP+HELEN and give us the results, that'd clarify if there's anything wrong with the polishing pipeline.

[2019-09-26 06:28] kishwarshafin commented on #14
@MichelMoser ,

I can confidently say that I was wrong about my statement last month. I ran a simple test by mixing reads from 235 and 233 and performed polishing and it looked fine. So, you can mix your reads and do the polishing to get better results. Sorry for being so late on this.

[2019-09-26 06:31] MichelMoser commented on #14
@kishwarshafin

Thats great news. Thanks for the follow-up.
You did the polishing of the mixed reads using the 235 model?

[2019-09-26 13:33] lstxmu commented on #17
Hi,kishwarshafin
I  had just finished the polish job of wtdbg2 resulsts with MP+HELEN.  The Busco result of polish assembly file is in progress . I will show you the values as it done.  Please give me some time.
Best,
Luo

[2019-09-26 14:31] kishwarshafin commented on #14
Yes, the data was 233 + 235 mixture and model was 235. Also, if you want to wait, we are working on a 305 model, should be able to deliver in a week or so.

Thanks for your patience.

[2019-09-27 11:26] MichelMoser commented on #14
Great, cant wait for this!

[2019-09-27 12:50] lstxmu commented on #17
Hi,   kishwarshafin
The polished wtdbg2 with MP+Helen as follow:
MP: C:63.8%[S:63.3%,D:0.5%],F:12.9%,M:23.3%,n:4915
helen: C:71.4%[S:70.6%,D:0.8%],F:12.1%,M:16.5%,n:4915

[2019-09-27 14:01] kishwarshafin commented on #17
@lstxmu ,

This is very surprising. BUSCO analysis, in this case, seems to be very specific. I'm not exactly sure if it truly represents the sequence quality though. I'd suggest running Quast to get a better idea of what exactly the sequence qualities look like.

[2019-09-27 14:22] lstxmu commented on #17
Hi, kishwarshafin
Thanks for your adivce.
I'll run Quast to compare these assembly file. This progress would take a few days, I would share the results to you once it is done.

[2019-09-27 16:12] kishwarshafin commented on #17
Thanks @lstxmu , will wait until you are done with all the analysis.

[2019-09-27 16:13] kishwarshafin commented on #16
Hi John,

Due to inactivity, I am closing this issue for now. Please reopen when you see feasible and if you need any more help regarding this.

[2019-09-27 16:13] #16 closed

[2019-09-29 13:45] lstxmu commented on #17
Hi, kishwarshafin
I had run the Quast test with  wtdbg2 , wtdbg2+margin, wtdbg2+margin+helen.  You can see the appendix zip file.
[quastreport.zip](https://github.com/kishwarshafin/helen/files/3667394/quastreport.zip)

[2019-09-29 23:29] kishwarshafin commented on #17
Thanks, @lstxmu ,
After seeing the result, I wonder if the reference you are using is suitable for the species you sequenced. The genome fraction is only 0.33. If you have sequenced and assembled everything correctly you should see a very high match between the reference and the assembly. If this is a non-model organism, I think you don't have the right reference. I can't tell specifically though

[2019-09-30 03:53] lstxmu commented on #17
Hi,@kishwarshafin
The refernce genome was Gallus Gallus v6.0 (lastest version https://www.ncbi.nlm.nih.gov/assembly/GCF_000002315.6) , to be honest, gallus is not the close species to my sample (Egretta garzetta), But most avian genome result was not good enough and gallus was the model orgnism in avain study (also the intensive study species).

[2019-09-30 20:46] kishwarshafin commented on #17
Hi @lstxmu ,

I am not an avian expert so really can't help you with this. But it looks like the tools are working fine. If you have any other issues with running the tools, please let us know. I'm closing this issue.

Thanks.

[2019-09-30 20:46] #17 closed

[2019-10-01 13:21] lstxmu commented on #17
Hi，＠kishwarshafin
Thanks for your help.
I still have a question:  How much species you had test with shasta+marginpolish+helen?  Can you share some detail with me?

[2019-10-01 17:08] kishwarshafin commented on #17
As we reported in the paper, we extensively tested on the human genome. Outside the human genome, different labs have tried Shasta on fish and plant genomes and got satisfying results. Most reported on twitter.

[2019-10-03 16:46] kishwarshafin commented on #14
@MichelMoser

The marginPolish model is updated to the master and here's the HELEN model for 305:
[HELEN_guppy305_model](https://storage.googleapis.com/kishwar-helen/helen_trained_models/guppy305_trained_models/guppy305_hg002_splitRleWeight.pkl)

There are still a few tests that we need to do before making it public but the initial tests look very good. :-) Good luck!

[2019-10-03 21:30] reachsagaya commented on #15
Hi Kishwar,

I have a similar question and I work with plant genome as well.
While choosing params.json when running Margin polish, can I use allParams.np.human.guppy-ff-235.json for the plant genome or should I use allParams.np.json.
Next if I shared with you my draft plant shasta assembly using nanopore reads would you be interested in using it to benchmark?
best regards
Sagaya

[2019-10-03 21:45] kishwarshafin commented on #15
@reachsagaya , the choice of the model only depends on what version of guppy basecaller you have used for your data. If you have used Guppy 2.3.5 then you should use `np.json.235` where 235 reflects the guppy version number.

If you can provide us a good reference genome and your assembly then I can do a quick test of sequence quality for you. The reference genome is expected to be the same specie

[2019-10-04 06:31] MichelMoser commented on #14
@kishwarshafin

Great! Already started a run to see how it compares to previous models. BUSCO will tell =)
Thank you so much!

[2019-10-04 19:12] kishwarshafin commented on #14
Great! Please share the results if you can.

[2019-10-09 06:58] MichelMoser commented on #14
Hi,

I did a comparison of newest models for HELEN guppy305) and marginPolish with the previous one (guppy235) and medaka (r941_prom_high)

Unfortunately, the guppy305 model did not perform well on our data.
Did you use MinION data for training? Because we exclusively have PromethION data for our genomes.

Here the overview:

[code]

marginPolish tpesout/margin_polish:latest
HELEN commit 84f357583

[2019-10-09 14:21] kishwarshafin commented on #14
Hi @MichelMoser ,

I have a few questions for you:

1) I believe it's a non-model organism but do you have a good assembly of that organism that can be used as a reference?
2) Will you be willing to do a test with another version of MP+HELEN that is in development or be willing to provide us the reads and the assembly so we can do it for you?

From our findings, we saw that BUSCO is not a great me

[2019-10-09 19:03] MichelMoser commented on #14
Hi,

I was surprised by the result as well.

1. Yes I tested in on a non-model organism because it has a relatively small genome (700 Mbp) and the nanopore assembly is very good (N50 of 18 Mbp). Unfortunately we currently only have nanopore data for this species available and Illumina data is yet to come.

What kind metric do you prefer to assess assembly accuracy? Comparison to Illumina contigs?

[2019-10-09 19:13] kishwarshafin commented on #14
I'll follow up with you over the email and close this issue here as it's non-related to the pipeline.

[2019-10-09 19:13] #14 closed

[2019-11-10 06:35] nozabey opened #18 "Issue on stitch.py"
Hello!

I have a problem with stitch.py. When I use the script with the following command A), I got the error B). Do you have any suggestions to resolve the issue. Thanks in advance!

A)
python3.6 /home/nozawa/Software/helen/stitch.py -t 16 \
-i /home/nozawa/Data/pal/MinION/MarginPolish_HELEN/consensus/HELEN_prediction.hdf \
-o /home/nozawa/Data/pal/MinION/MarginPolish_HELEN/consensus

B)
Tracebac

[2019-11-10 18:57] kishwarshafin commented on #18
Hi @nozabey

Looks like you didn't run `./build.sh` from inside the helen directory. Please do this:

[code]

This should solve your issue.

[2019-11-10 23:27] nozabey commented on #18
Hi!

Thank you very much for your reply! I followed your suggestion. Then, the following message appeared.

Could you please give me any additional suggestions?

For just in case, I am attaching CMakeOutput.log.
[CMakeOutput.log](https://github.com/kishwarshafin/helen/files/3829170/CMakeOutput.log)

Best regards,

--------------from here------------------
-- The C compiler identification is GNU 5.

[2019-11-11 02:33] kishwarshafin commented on #18
Hi @nozabey ,

HELEN requires cmake a newer cmake than you have in your system. You can check your cmake version by running:
[code]

To install cmake 3.14, please run this:
[code]

This should install cmake 3.14 and solve your issue.

[2019-11-11 08:16] nozabey commented on #18
Hi!

Thank you for your additional suggestions. I now installed cmake 3.16 and successfully run ./build.sh from inside the helen directory as follows.

---------from here----------
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler AB

[2019-11-11 16:56] kishwarshafin commented on #18
Hi @nozabey ,

It looks like you have two different versions of python installed in your system. The `cmake` finds and uses `/usr/bin/python3` while you are using a different version. Can you please run this command and see what happens:

[code]

In your system, maybe `python3` and `python3.6` are the same? You can check by running `which python3` and `which python3.6`.

Also, we highly suggest us

[2019-11-12 00:47] nozabey commented on #18
Hi,

Thank you very much for your detailed instructions. Certainly, I have installed different versions of python which apparently cause this complication. I now changed the priority of python version and consistently use python3.6. And finally, I now can use stitch.py without any errors!

Thank you again for your kind instructions. I may ask further questions in the near future.

Best regards,

[2019-11-12 04:30] kishwarshafin commented on #18
Great! I'm closing this issue, please feel free to open another if you need any help.

[2019-11-12 04:30] #18 closed

[2019-12-17 05:37] #15 closed

[2020-03-02 20:23] SHuang-Broad opened #19 "Compatibility with draft assembly from other assemblers"
Hi,

I'm wondering if M + H is compatible with draft assemblies from other assemblers.
It would be great if there's already some documents showing comparisons.

Thanks!
Steve

[2020-03-02 23:06] kishwarshafin commented on #19
Hi @SHuang-Broad ,

Yes, MP-HELEN is compatible with other assemblers as we have shown in [our paper, Figure 4c](https://www.biorxiv.org/content/10.1101/715722v1.full.pdf).

We expect to see the same level of improvement with any assembler you use. Also, we are going to do v1.0 release in 2-3 days. If you are planning on using it, I would recommend waiting until the end of this week.

For your ref

[2020-03-03 14:53] SHuang-Broad commented on #19
Nice!

I do have multiple haploid assemblies and would like to see how to improve QV with polishers.
I'll keep an eye on the new release.

Thank you for the detailed explanation!

[2020-03-04 00:08] kishwarshafin commented on #19
@SHuang-Broad ,

I have pushed the latest version to master. Please use the local installation method for now. We are doing some internal comparison with other pipelines, once that is done, we'll do the official release with results.

I would also point you out to PEPPER (https://github.com/kishwarshafin/pepper). We are getting very competitive results with PEPPER and MP-HELEN. Please let me know

[2020-04-07 06:42] #19 closed

[2020-05-04 13:01] dominik-handler opened #22 "Models for Guppy 3.6"
Hi,

I really like your polishing pipeline and it gives great results so far.
Last week a new and improved version of Guppy with boosted accuracy was released. Are you planning to provide models for this version of Guppy and if so, when can we expect these?

Thank you,
Dominik

[2020-05-04 18:44] kishwarshafin commented on #22
Hi @dominik-handler ,

Thank you for using this polisher. We are internally trying to utilize the full capacity of the Guppy basecalling improvements and that would mean significant changes in the internal algorithms. It can be made faster and better given the read qualities are higher than what this method was developed for. So, we are changing our algorithms over the next few weeks and will upda

[2020-05-07 06:49] huangnengCSU opened #23 "some problem occurs when evaluating the data of na12878 chromosome 21"
hi
I ran helen to polish the draft assembly from na12878 chromosome 21. But there seem some problems in the polished results.
First I ran marginPolish to generate image features with the command:
`marginPolish read2assembly.sort.bam ../assembly.fasta ~/tools/MarginPolish/params/allParams.np.human.r94-g235.json -o chr21_margin -t 60 -f`
Second, I ran helen to generate a more accurate assembly with

[2020-05-07 19:21] kishwarshafin commented on #23
Hello @huangnengCSU ,

I have a few questions:
1) What guppy version are you using? I see you are using guppy 235 model file for MP but for HELEN you are using guppy 344 models, do you know which version of the basecaller are you using?

2) How did you generate your assembly? What are the pomoxis numbers for the raw assembly?

3) I see you are using hg38 as the "truth", that will have some potenti

[2020-05-08 01:53] huangnengCSU commented on #23
To kishwarshafin
    The raw data was basecalled with Albacore v2.3.4. The long reads assembler we used was Flye. And thank you for your advice about the reference.

neng

[2020-05-08 03:53] kishwarshafin commented on #23
@huangnengCSU ,

Albacore v234 is obsolete at this moment. We don't have a model to support that basecaller. There are publicly available data with the latest basecaller that you can use. If you have issues with the newest basecallers please let us know.

[2020-05-09 02:22] huangnengCSU commented on #23
To kishwarshafin
Thanks for answering the question, I will close the issue.

[2020-05-09 02:22] #23 closed

[2020-05-19 14:31] xiekunwhy opened #25 "Add helen to bioconda."
Hi,

Can you add helen to bioconda? It is so difficult To install helen on a centos machine.

Best
Kun

[2020-05-19 14:40] xiekunwhy opened #26 "Are existing models suitable to polish a high heterozygosity plant genome assemblies?"
Hi,

Which model is the best one for polishing a high heterozygosity plant genome assemblies (genome size is ~3.6Gb, het rate is >> 2%)? Assemblies(~8Gb) are generated from flye.

Best,
Kun

[2020-05-19 15:08] kishwarshafin commented on #26
@xiekunwhy , right now HELEN has no concept of zygosity of the genome. So if it observes multiple bases at genome positions that are equally likely to be the underlying true base, it'll pick one randomly.

The best model would be the one that matches closely to the basecaller you used for the dataset.

[2020-05-19 15:10] kishwarshafin commented on #25
I am sorry to hear that @xiekunwhy . We have some deadlines to meet otherwise I'd make this a priority. I will try my best to have this included in bioconda before the next release, which is hopefully next month, before or after London Calling.

[2020-05-20 08:31] xiekunwhy commented on #26
Hi,

Thank you for your reply, and I will try to use helen to polish this plant genome.
best,

Kun

[2020-05-21 09:39] DengHAU commented on #22
Hi，

I want to use HELEN to polish a plant genome, are the existing models suitable for a plant genome polish?

Thanks

[2020-05-25 09:22] MichelMoser opened #27 "marginpolish docker stuck at 99%"
Hi,

I am running your new docker container to stream-line assembly polishing and run into some trouble with marginPolish. Looks like MP is stalling at the very end.

[code]

H5 files have been created and written to but no more writing happened for the last few hours.

Process is still running but only using 1 thread for the last 5 hours.
Is this expected and does marginpolish do some final wrapu

[2020-05-27 03:53] kishwarshafin commented on #27
Hi @MichelMoser ,

This is unexpected behavior, did you let it run to completion. Maybe it's an issue with coverage of one region that is maybe causing this. What is the coverage of your bam file?

I will discuss this with @tpesout to see if it's something we've seen before.

[2020-05-27 14:56] biozhangzhou opened #28 "How to install helen in a gcc4.8 enrivments?"
The Servers I'm using is RedHat4.8 && gcc4.8;
I have spent more than one day in installing helen, the error were coming one after another, anybody met the similar pros?
Please notice me. Thks.

[2020-05-27 18:29] MichelMoser commented on #27
Hi @kishwarshafin ,

I let it run for additional 24 hours once it reached the
[code]
but h5 files did not change since then.

Average coverage is about 60 x.
I thought downsampling was implemented in the .json "maxDepth"  when generating images?

Best,
Michel

[2020-05-27 19:30] kishwarshafin commented on #28
Hi @biozhangzhou , sorry to hear that.

Can you use a docker? I don't have any experience with redhat.

[2020-05-27 19:31] kishwarshafin commented on #27
@MichelMoser ,

I ran two polishing runs since last night with docker and both finished correctly. Would it be possible to prune the images and run it one more time?

If you are spending too much time on this then if you share the files I can try to see what is causing the issue.

You are right, the maxDepth controls the downsampling.

[2020-05-27 19:36] MichelMoser commented on #27
What do you mean by pruning the images?
Yes will rerun marginpolish one more time and report back.

[2020-05-27 20:49] kishwarshafin commented on #27
`docker rmi <helen_docker_image>`

remove the existing docker image of and pull it again. It would be crazy if this works.

[2020-05-28 00:24] biozhangzhou commented on #28
thank you,I will try to ask my administrator to install docker.

[2020-05-28 08:52] MichelMoser commented on #27
i assume using singluarity instead of docker is not the source of error

[2020-05-29 04:54] kishwarshafin commented on #28
please reopen the issue if you can't find a way to make it work. Thanks.

[2020-05-29 04:54] #28 closed

[2020-05-29 04:55] kishwarshafin commented on #26
Thanks Kun. Closing the issue, please reopen if you have any questions.

[2020-05-29 04:55] #26 closed

[2020-05-30 19:54] MichelMoser commented on #27
hmm, its running for 1.5 half days now straight and still at "Polishing 99% complete". Gave it 96 threads.

[code]

How long are marginpolish runtimes for human genomes normally?

[2020-06-01 07:01] kishwarshafin commented on #27
@MichelMoser , sorry about this. Usually, a human genome takes about 10-15 hours, on 96 threads it should take less than that. This would be your second run where it got stuck, is that right?

[2020-06-02 08:34] MichelMoser commented on #27
yes, its the second run. still at "Polishing 99% complete". You said it might be coverage problems?

I ran polishing with PEPPER simultaneously and it ran through without a hitch within 23.5 hours (on GPUs).

[2020-06-02 15:53] kishwarshafin commented on #27
@MichelMoser , at this point, with all the improvements in the basecaller, you should be able to see similar results with PEPPER and MarginPolish-HELEN.

If it's not inconvenient for you, I'd like to keep this issue open and get back to it to see if it happens to any other assemblies. This is very unusual and should be looked into.

[2020-06-02 16:51] tpesout commented on #27
Hi @MichelMoser, I'm sorry you're having issues running this.  I have seen something like this happen (not ever for 24 extra hours) with human reads aligned to GRCh38 with minimap2, in a very deep region flanked by very shallow regions (generally satellite DNA).  There are some ways to verify this which I'm happy to do if you're willing to share your data.  Also, running MarginPolish with the `-a

[2020-06-02 18:14] MichelMoser commented on #27
Hi @tpesout and @kishwarshafin ,
Thank you for the help and I am happy to share files. But before transferring the 180 GByte file, i could generate some coverage stats with mosdepth and send you the results if that's helpful.
Also I can rerun with the logging option and send you the output.

[2020-06-02 18:52] kishwarshafin commented on #27
@MichelMoser , coverage plots, and the log would be great!

[2020-06-12 03:28] yangxiaofeill opened #29 "MarginPolish output zero .fa file"
Dear author,
Thanks for your great assembly tool Shasta,  and polish tool marginpolish and helen. I have used Shasta to assembled a genome and generated the `Assembly.fasta` file.
Next, I try to use Helen to polish the genome. I have generated the `.bam` file by minimap2 and indexed it by Samtools. However, the marginpolish step generates zero fasta file `output.fa`. The log is as follows.

[code]

[2020-06-12 05:56] kishwarshafin commented on #29
@yangxiaofeill , do you happen to know the coverage and can you please tell me the size of your input bam file?

[2020-06-12 06:03] yangxiaofeill commented on #29
@kishwarshafin   Sure.
Our data is ONT sequencing, about 104x coverage. The size of the bam file is about 195G
`195G June  10 20:24 reads_2_assembly.0x904q60.bam`, the Assembled genome file is about 3.1G.

Best
Xiaofei

[2020-06-12 19:36] kishwarshafin commented on #29
@yangxiaofeill , do you have the log from marginpolish? Also, can you run the program through docker? I don't think I have a way to re-create this issue internally. The library mismatch should not result in an empty fasta file from marginpolish.

[2020-06-14 02:54] yangxiaofeill commented on #29
@kishwarshafin   Thanks for your response.
Following is the log from marginpolish
[code]
I didn't try docker since our HPC does not support docker.

Best
Xiaofei

[2020-06-14 04:54] kishwarshafin commented on #29
Hi @yangxiaofeill , it looks like marginpolish never started, it just created the output.fa and died because of the library mismatch.

@tpesout is there any way to compile MP with specific HDF5 library?

[2020-06-15 17:12] tpesout commented on #29
Hi @yangxiaofeill, I agree that this issue is with the library.  It appears that your system has a set of header files which don't match the implementation files for your HDF5 libraries.  I would recommend reconciling these, but since it looks like you're off by a patch version (Headers are 1.8.12, library is 1.8.11), it may be fine to just follow the instructions for ignoring this message.  I wou

[2020-06-16 05:52] yangxiaofeill commented on #29
Hi @tpesout ,

I tried as your suggestion to set `export HDF5_DISABLE_VERSION_CHECK=1`. In addition, I downloaded the hdf5-1.8.12 binary library from `https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.8/hdf5-1.8.12/bin/linux-x86_64/hdf5-1.8.12-linux-x86_64-shared.tar.gz`, and added the lib into `LD_LIBRARY_PATH` by `export LD_LIBRARY_PATH=/hdf5-1.8.12-linux-x86_64-shared/lib:$LD_LIBRARY_PATH`

[2020-06-16 14:44] kishwarshafin commented on #29
@yangxiaofeill , will it be possible for you to install marginPolish from here: https://github.com/UCSC-nanopore-cgl/marginPolish

[2020-06-16 17:49] tpesout commented on #29
Since you've downloaded the correct version of the hdf5 library, I would also recommend unsetting `HDF5_DISABLE_VERSION_CHECK` to verify that the correct version is actually being picked up.

[2020-06-28 10:44] carsweshau commented on #10
Hello Kishwar Shafin,

Thank you very much for your work on MarginPolish-HELEN! Just as an addition to this closed issue, I've been benchmarking nanopolish / medaka+racon on a CentOS 7 HPC and wanted to include Margin-Polish-HELEN in the analysis. The below example code generates the double free or corruption (fasttop) HDF5 error as described above, however if I remove the `-f` parameter it finish

[2020-06-28 14:52] kishwarshafin commented on #10
hi @carsweshau ,

this has now become a known problem that the compatible HDF5 library does not work on CentOS. Can you please see if you can install and run PEPPER (https://github.com/kishwarshafin/pepper) internally? If yes, please let me know. So far, we have been seeing the same-level of improvements with PEPPER, as with MP-HELEN. I can guide you on how to run it for your sample.

[2020-06-28 21:40] carsweshau commented on #10
Thank you for the prompt reply - I'll look into PEPPER today and let you know how it goes, cheers!

[2020-06-30 17:08] #10 closed

[2020-08-14 04:13] AntonioBaeza commented on #25
Hi, I work in a centos and have the same problem than xiekunwhy. Any news about bioconda? thanks

[2020-09-01 17:43] jmkidd opened #30 "torch.set_num_threads error in docker image"
Hi, am trying to run the docker image and get a torch runtime error.
Is this an error in the docker image? Thanks!

INFO: POLISH MODULE SELECTED
INFO: RUN-ID: 09012020_134236
INFO: PREDICTION OUTPUT DIRECTORY: /.../helen_out/predictions_09012020_134236
INFO: CALL CONSENSUS STARTING
INFO: OUTPUT FILE: /.../helen_out/predictions_09012020_134236/265L12.cont.cor.fa
INFO: MODEL LOADING TO ONNX
Tracebac

[2020-09-10 10:12] yipukangda opened #31 "How to train a new model with in lab testing data"
Our lab is doing research on some channel protein, the sequencing error seems different from R9 pore, so we want to training marginpolish/Helen with these new data, could you tell me how to do it, thanks.

[2020-09-10 16:25] #27 closed

[2020-09-10 16:30] kishwarshafin commented on #31
Hi @yipukangda ,

This sounds very interesting, and thanks for choosing MP/HELEN for your experiment. If this is a new channel and the error mode is different, I'd suggest you try PEPPER (https://github.com/kishwarshafin/pepper) to train and test your new pore. The reason would be simplicity and a faster trial-error loop. If you open an issue there or send me an email at shafin@ucsc.edu, I can hel

[2020-09-10 16:31] kishwarshafin commented on #30
Hi @jmkidd ,

Sorry for being late on this. Can you please post the full command here? This is an unusual error. are you using `--ipc=host` ?

[2020-09-10 16:31] #29 closed

[2020-09-10 16:33] kishwarshafin commented on #25
Hi @xiekunwhy and @AntonioBaeza ,

Our new polishing tool PEPPER (https://github.com/kishwarshafin/pepper), gives significantly better results than MarginPolish-HELEN with newer data, guppy 3.6.0 +.  We are planning to support PEPPER for newer versions of basecallers. Would you mind trying PEPPER out? I am using PEPPER on centOS 7, so I can help you with errors if you face any.

[2020-09-10 16:40] kishwarshafin commented on #22
Hi @dominik-handler ,

We are supporting PEPPER (https://github.com/kishwarshafin/pepper) for guppy 3.6.0 polishing as it is significantly faster and provides similar/better results than MP-HELEN. There's a 3.6.0 model added to the models directory. Please let me know if you have any issues with that.

[2020-09-10 16:40] #22 closed

[2020-09-11 00:16] AntonioBaeza commented on #25
Hi Kishwarshafin/Helen! I will take a look at this tool soon! Thanks for
letting me know. Best, Antonio

On Thu, Sep 10, 2020 at 12:34 PM Kishwar Shafin <notifications@github.com>
wrote:

--
J. Antonio Baeza

Associate Professor
Department of Biological Sciences, Clemson University
South Carolina, USA
&
Research Associate
Smithsonian Marine Station at Fort Pierce, Florida, USA
&
Adjunct Faculty
Un

[2020-09-11 03:40] yipukangda commented on #31
@kishwarshafin Thanks a lot, I will read the manual and open an issue soon.

[2020-09-11 03:40] #31 closed

[2020-09-11 14:59] jmkidd commented on #30
Thanks for looking into this.  Here is the command.

singularity exec helen_latest.sif helen polish \
--image_dir marginpolish_images/ \
--model_path  mp_helen_models/HELEN_r103_guppy_microbial.pkl \
--batch_size 5 \
--num_workers 2 \
--threads 2 \
--output_dir helen_out/ \
--output_prefix 265L12.cont.cor.fa

[2020-09-15 04:57] kishwarshafin commented on #30
Hi @jmkidd ,

I have been trying to re-create the issue internally but I don't think I can. Any chance you can find a suitable place to run the docker without sigularity and see if the error sustains?

[2020-10-12 03:31] kishwarshafin commented on #25
@AntonioBaeza , we have replaced `MarginPolish-HELEN` with `PEPPER`:

https://github.com/kishwarshafin/pepper/releases/tag/v0.1

You can install it via pip. Please let me know if that works for you. I'm closing this issue.

[2020-10-12 03:31] #25 closed

[2020-10-14 15:57] tbooth commented on #10
Hi I know it's generally bad form to comment on a closed bug but I was having some issues with MarginPolish and Google led me here. Since I believe I solved my problem I just wanted to add a brief note for anyone stuck in the same place and reading this bug report. Specifically, when running marginPolish with the `-t 16` and `-f` flags I got a whole soup of errors from the HDF5 library very much l

[2020-10-14 16:05] utrivedi opened #32 "Exception: process 6 terminated with signal SIGKILL"
Hello,

I am trying to run helen in polishing mode.  Here is my command:

`helen polish -i marginPolish_images -m helen_models/HELEN_r941_guppy344_microbial.pkl -o helen_polish/ -t 16`

However I face following error:
`Traceback (most recent call last):
  File "/lustre-gseg/software/bin/helen", line 33, in <module>
    sys.exit(load_entry_point('helen==0.0.23', 'console_scripts', 'helen')())
  Fil

[2020-10-14 16:09] kishwarshafin commented on #32
@utrivedi ,

I'll look into this. In parallel, would you mind using PEPPER for now? We have tested PEPPER on many samples and they produce very similar results to `MarginPolish-HELEN` and it's lightweight too:
https://github.com/kishwarshafin/pepper/releases/tag/v0.1

[2020-10-14 16:11] kishwarshafin commented on #10
Thank you @tbooth ,

Greatly appreciated. Please use PEPPER if your data is guppy305 or higher (https://github.com/kishwarshafin/pepper/releases/tag/v0.1) I need to update the readme but PEPPER is outperforming MarginPolish-HELEN on most cases.

[2020-10-15 08:21] utrivedi commented on #32
Thank you @kishwarshafin . I am happy to try pepper but it doesn't seem to have a model that would fit my data that is **minion r941 g344 HAC**. Any suggestions to overcome this problem are very welcome.

[2020-10-15 14:38] kishwarshafin commented on #32
Hi @utrivedi ,

You can use `PromethION_r941_guppy305_HAC_microbial.pkl` with your 3.4.4 data. We have tested this model on promethION and minION and it works similarly. The `guppy305` part indicates the lowest supported version of guppy for that model. We have tested it for every version between 3.0.5 and 4.2.2 and the model shows no difference in performance.

[2020-10-15 16:18] utrivedi commented on #32
That's great. Thanks @kishwarshafin. By the way, I figured out that the earlier error was because it was running out of RAM. The instance was launched again with higher RAM and it works now. :)

[2020-10-15 16:21] kishwarshafin commented on #32
Ah, pheww, thanks. I was going to report that I can't re-generate the error. Thank you, I'm closing this issue. :)

[2020-10-15 16:21] #32 closed

[2020-10-26 17:45] li081766 opened #33 "wrong script in example Usage in README.md"
Dear,

In README.md Step 2 example script:

[code]
should be
[code]

Best,
Jia

[2020-10-26 19:16] kishwarshafin commented on #33
Hi Jia,

Thank you for opening the issue. You are correct. I will fix this issue soon.

[2020-10-28 02:14] Yechao94 opened #34 "Only Polish interested sequences"
Hi，I used shasta to assemble the sequencing data from nanopore. I have hundreds of assembled results, and I only focus on those sequences that do not appear in the reference genome (NRS). So, I want to know if I could use M-H to only polish the NRS I extracted from the assembly results instead of the entire assembly fasta file?

[2020-10-28 02:58] kishwarshafin commented on #34
Hi @Yechao94 ,

I'd suggest using PEPPER (https://github.com/kishwarshafin/pepper/releases/tag/v0.1) and use `-r` parameter where you can specify regions/contigs you want to polish.

[2020-10-28 03:25] Yechao94 commented on #34
Great, I will have a try!
Thanks a lot.

[2020-10-28 03:26] #33 closed

[2020-10-28 03:39] kishwarshafin commented on #34
great, I'll close this issue.

[2020-10-28 03:39] #34 closed

[2020-10-28 03:39] #30 closed

[2020-12-14 09:03] huangnengCSU opened #35 "Question about model's training data"
Hi:
    MarginPolish && HELEN is such an excellent pipeline for polishing ONT assembly, which is easy to run and has very high accuracy. I am using the latest model to polishing some human data. I wonder what data do you use to train the model ```MP_r941_guppy344_human.json``` and ```HELEN_r941_guppy344_human.pkl```. The training datasets of this two models were not mentioned in the paper. Which s

[2020-12-14 20:23] kishwarshafin commented on #35
@huangnengCSU ,

`MP_r941_guppy344_human.json` and `HELEN_r941_guppy344_human.pkl` uses the same training that is explained in the paper but basecalled with guppy 3.4.4 model. The underlying training is the same which is HG002 chr1-19.

Just to update you, internally we have switched to a new polisher (https://github.com/kishwarshafin/pepper) that produces better/similar accuracy to MarginPolish-H

[2020-12-15 00:44] huangnengCSU commented on #35
@kishwarshafin
    Thanks so much for your response, I will try your new polisher to generate a more accurate assembly.

[2020-12-15 00:44] #35 closed

[2021-06-16 09:44] xdkong opened #36 "there are no other mammal models other than human?"
I have downloaded the available models, but there were no models other than human. My data was mammal but isn't human，how can I get the right model.Thank you for your help.

[2021-06-28 06:11] xdkong commented on #36
Who can help me? Thank you very much.

[2021-10-25 04:23] kishwarshafin commented on #36
@xdkong , really sorry for not getting back to you regarding this. As mentioned in the readme, we now suggest users use PEPPER for polishing genome assemblies. Can you please open the issue in that repository so I can help you better and not lose track?
https://github.com/kishwarshafin/pepper

[2022-04-11 06:15] lloydlowUOA opened #37 "helen polish UserWarning on batch size"
I am running helen polish and received below warning message. Is this a harmless warning or I should do something about it?

INFO: POLISH MODULE SELECTED
INFO: RUN-ID: 04112022_102154
INFO: PREDICTION OUTPUT DIRECTORY: <path>/HELEN/predictions_04112022_102154
INFO: CALL CONSENSUS STARTING
INFO: OUTPUT FILE: <path>/HELEN/predictions_04112022_102154/output_AngusONTpolish.fa
INFO: MODEL LOADING TO ON